# vi: ft=gitignore

.lldbinit
tests/music

# General
**/bin/**
**/obj/**
dist
build
*.o
*.swp
*.pid
*~
~$*
*.core
*.orig
*.rej
.cache

# Ruby
.yardoc



# C/C++
.ccls-cache
compile_commands.json


# Xcode
Pods
*.xcodeproj
xcuserdata
DerivedData
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
Package.resolved
.build

# macOS
Music Library.musiclibrary
Media.localized
.localized
.DS_Store
_DS_Store
*.dSYM

